*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1:hover{
    color: rebeccapurple;
    background-color: rosybrown;
    letter-spacing: 5px;
}
.div1{
    transition: .4s;    
    /* yuxarida hover icinde yazsaydiq elimizi ceken kimi qayidir */
}
.menu{
    color: white;
    background-color: black;
    padding: 15px 20px;
    font-size: 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.ox{
    color: white;
    background-color: black;
    padding: 15px 20px;
    font-size: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}